/**default footer1**/
footer {
    height: 5vh;
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: "Arial Black", serif;
    left: 0;
    bottom: 0;
    width: 100%;
}