# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
target
nppBackup
.project
.settings
.classpath
.idea
.git

.gradle
*.iml

gradlew.bat
gradlew
gradle
